{{ "<!-- Footer Section Start -->" | safeHTML }}
<footer id="footer">
  <div class="container">
    <div class="row content-justify-between">
      <div class="col-md-8 col-12 text-center text-lg-left text-md-left">
        <p class="copyright">Copyright:
          <span>
            <script>
              document.write(new Date().getFullYear())
            </script>
          </span> Design and Developed by Luc PINGUET with the help of 
          <a href="http://www.Themefisher.com" target="_blank">Themefisher</a>
        </p>
      </div>
      <div class="col-md-4 col-12">
        {{ "<!-- Social Media -->" | safeHTML }}
        <ul class="social text-center text-md-right text-lg-right">
          {{ range .Site.Params.socialIcon }}
          <li><a href="{{ .url | safeURL }}"><i class="{{ .icon }}"></i></a></li>
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
</footer>
{{ "<!-- footer section end -->" | safeHTML }}

{{ "<!-- jquery -->" | safeHTML }}
<script src="{{ `plugins/jQurey/jquery.min.js` | absURL }}"></script>
{{ "<!-- slick slider -->" | safeHTML }}
<script src="{{ `plugins/slick/slick.min.js` | absURL }}"></script>
{{ "<!-- bootstrap js -->" | safeHTML }}
<script src="{{ `plugins/bootstrap/bootstrap.min.js` | absURL }}"></script>
{{ "<!-- wow js -->" | safeHTML }}
<script src="{{ `plugins/wow-js/wow.min.js` | absURL }}"></script>
{{ "<!-- slider js -->" | safeHTML }}
<script src="{{ `plugins/slider/slider.js` | absURL }}"></script>
{{ "<!-- Fancybox -->" | safeHTML }}
<script src="{{ `plugins/facncybox/jquery.fancybox.js` | absURL }}"></script>
{{ "<!-- template main js -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify}}
<script src="{{ $script.Permalink }}"></script>
{{ "<!-- google analitycs -->" | safeHTML }}
<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
      m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', '{{ .Site.Params.googleAnalitycsID }}', 'auto');
  ga('send', 'pageview');
</script>