{{ define "main" }}

{{ "<!-- Page Header -->" | safeHTML }}
<section class="global-page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>{{ .Title }}</h2>
          <div class="portfolio-meta">
            <span> {{ delimit .Params.category ", " }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{ "<!-- work details part start -->" | safeHTML }}
<section class="work-single">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        {{ with .Params.image }}
        <div class="work-single-image">
          <!-- Work Single Image -->
          <img class="img-fluid w-100" src="{{ . | absURL }}" alt="work-single-image">
        </div>
        {{ end }}
        <!-- work single Content -->
        {{ with .Content }}
        <div class="work-single-content">
          {{ . }}
        </div>
        {{ end }}
      </div>
      <div class="col-lg-4">
        <!-- sidebar -->
        <div class="work-single-sidebar">
          {{ with .Params.client }}
          <h5>Clients</h5>
          <h6>{{ . }}</h6>
          {{ end }}
          {{ with .Params.livelink }}
          <h5>Project Link</h5>
          <h6><a href={{ . }} target="blank">{{ . }}</a></h6>
          {{ end }}
          {{ with .Params.submitDate }}
          <h5>Date</h5>
          <h6 style="margin-bottom: 0;">{{ . }}</h6>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{"<!-- work details part end -->" | safeHTML }}

{{ partial "cta.html" . }}

{{ end }}