.wow h1{
    color:#9872cb !important;
}

.top-bar{
    background-color: #444440;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border : 0;
    padding: 5px 0;
}

.top-bar.animated-header{
    background-color: #444440;
    border : 0;
    padding: 10px 0;
}

nav.navbar.bg-light{
    background: 0 !important;
}

.navbar-toggler{
    background-color: #b8a587;
    border-color: #695c48;
}
.wow h2{
    color:#fff !important;
}

.works{
    background-color: #444440;
}
#hero-area{
    background-position: 70%;
}

.section-heading p{
    color:#b8a587;
}

.row{
    justify-content : center;
}

.work-single-content{
    text-align: justify;
}

.work-single-sidebar > h5{
    font-weight: 600;
    text-transform: uppercase;
    color:#000;
    border-bottom: solid 1px #b8a587;
}

.work-single-image{
    
    filter: sepia(100%) brightness(80%);
    transition: all 1s;
}
.work-single-image:hover{
    filter: sepia(0%) brightness(100%);
    transition: all 1s;
}

.work-single-sidebar a{
    color:#b8a587;
    transition: 0.2s;
}

.work-single-sidebar a:hover{
    color:#695c48;
    transition: 0.2s;
}

#hero-area::before{
    background:rgba(0,0,0,.5);
}

.hvr-bounce-to-right::before{
    background: #9872cb;
}

.cd-words-wrapper > b{
    color: #b8a587 ! important;
}

.navbar .nav-item .nav-link{
    color : #b8a587 !important;
}

.navbar .nav-item .nav-link:hover{
    color : #695c48 !important;
}

#call-to-action{
    background-color: #b8a587;
}

#call-to-action .block .btn-contact {
    color: #b8a587;
}
#call-to-action .block .btn-contact:hover {
    background-color: #695c48;
}
.title{
    color:#fff;
    margin-bottom: 5px;
}

.navbar-brand > img
{
    max-width: 50px;
}


figcaption{
    background-color: #fff;
}

figure figcaption  h4  a
{
    color : #b8a587 !important;
    transition: 0.3s;
}
figure figcaption  h4  a:hover
{
    color : #695c48 !important;
    transition: 0.3s;
}

a
{
    color : #b8a587;
    transition: 0.3s;
}
a:hover
{
    color : #695c48;
    transition: 0.3s;
}

figure figcaption p
{
    color : #695c48;
}

figure .overlay a:hover{
    background-color: #b8a587;
    border-color: #695c48;
}

.global-page-header{
    padding-top: 110px;
    background-color: #b8a587;
}
.global-page-header .breadcrumb{
    margin:0;
}


.btn-send{
    background-color: #b8a587 !important;
    border-color: #b8a587 !important;
}
.btn-send::before{
    background-color: #695c48 !important;
    
}

#footer .social li a{
    color : #b8a587;
}

#footer .copyright a {
    color: #b8a587;
}